page-xiangq {
  #header {
    background: white;
    border-bottom: solid 0.5px #cccccc;
  }
  #header .title {
    font-size: 18px;
    font-weight: 200;
    padding-top: 0.5rem;
  }
  #header .back-btn {
    background: none;
    text-align: center;
  }
  .col-p1,.col-p{
    padding: 0 !important;
    background:#f6f6f6;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100
  }
  .col-p1{
    text-indent: 2em;
  }
}
