<ion-header style="padding: 0 !important;">
  <ion-navbar  style="padding: 0 !important;">
    <div (click)="tosearch()" col-12 class="search" style="padding: 0 5px !important;">
      <input col-12 type="button" value="搜索目的地">
      <!--<span col-2>搜索</span>-->
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div col-12 class="img">
        <img (click)="tophoto()" src="../../assets/destination/icon.jpg" height="150px" width="100%">
      </div>
      <div class="didian" (click)="tocity()">
        <p>{{cityinfo}}</p>
        <span >{{personalinfo}}</span>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>

  <div padding style="margin-top: 30px">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="{{item}}" *ngFor="let item of lei">{{item}}</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list style="margin-top: -40px;"  *ngSwitchCase="'俯瞰城市'">
      <div col-6 style="float: left" *ngFor="let it of city" >
        <img height="150px" width="100%" src="../../assets/images/Destination/1.city/{{it?.img}}">
      </div>
    </ion-list>
    <ion-list style="margin-top: -40px;" *ngSwitchCase="'山水相依'">
      <div col-6 style="float: left" *ngFor="let ite of nature" >
        <img height="150px" width="100%" src="../../assets/images/Destination/2.nature/{{ite}}">
      </div>
    </ion-list>
    <ion-list style="margin-top: -40px;" *ngSwitchCase="'古迹遗址'">
    <div col-6 style="float: left" *ngFor="let itemy of darkness" >
    <img height="150px" width="100%" src="../../assets/images/Destination/3.town/{{itemy}}">
    </div>
    </ion-list>
  </div>

  <ion-list padding>
    <span class="list-zy">景点：</span>
    <ion-row *ngFor="let nei of _scenic" (click)="tuxiang(nei.id)">
        <ion-col col-8  style="float: left">
          <h2 style=" margin-top: 0!important;">{{nei.title}}</h2>
          <span>{{nei.info}}</span>
        </ion-col>
        <ion-col col-4>
          <img height="80px" width="100%" src="{{qnUrl}}{{nei?.url[1]}}"/>
        </ion-col>
    </ion-row>
  </ion-list>
  <div col-12 style="text-align: center;margin-top: -30px">
    <a>加载更多>></a>
  </div>
</ion-content>


