.tab-button[aria-selected=true] .tab-button-icon,.tab-button[aria-selected=true] .tab-button-text {
  color: #FEDC2A !important;
}
.tab-button[aria-selected=true] .tab-button-text{
  font-weight: 500;
}
.tab-button-text{
  color: #8c8c8c;
}
//.tabs-ios .tab-button-icon,,
