page-notes {
.zan{
  height: 20px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  border:solid 1px #FF9D00;
},
#header{
  background: white;
  border-bottom: solid 0.5px #cccccc;
}
  //#header .title {
  //  font-size: 18px;
  //  font-weight: 200;
  //  padding-top: 0.5rem;
  //}
  //#header .back-btn{
  //  background: none;
  //  text-align: center;
  //}
}
