<ion-header>
  <ion-navbar>
    <img col-3 src="../../assets/images/TTravel--LOGO.png" height="36" width="80"/>
    <div col-9 class="search">
      <input col-12 type="text" (click)="toliebiao()" placeholder="搜索">
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="努力加载中..." ></ion-refresher-content>
  </ion-refresher>

  <div class="mycity"><p>{{cityinfo}}</p></div>

  <div class="content">
    <h1>每日推荐</h1>
    <ion-slides loop="true" (ionSlideDidChange)="slideChanged()" #slides style="height: auto">
      <ion-slide *ngFor="let theme of _scenic">
        <div (click)="tuxiang(theme.id)">
          <div id="indexNotes" class="img_1">
            <img class="img" src="{{qnUrl}}{{theme?.url[1]}}" alt="">
          </div>
          <ion-col class="c1">
            <h2>{{theme?.info | themeString |themeString:20}}</h2>
          </ion-col>
          <p class="p1">{{theme?.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
    <hr>
  </div>


<div>
    <ion-row *ngFor="let topic of _notes">
      <div class="all" (click)="toparticulars(topic.id)">
        <div class="fl" col-6>
          <div>
            <h2 class="title">{{topic?.title | topicString |themeString:20}}</h2>
          </div>
          <ion-col class="s1">
            <img class="lazy" src="{{url}}/uploads/{{topic?.icon}}" alt="{{topic?.userName}}"/>
          </ion-col>
          <p class="p2">{{topic?.userName |themeString:9}}</p>
        </div>
        <div class="fr" col-6>
          <div class="img_2" [innerHTML]="topic?.content">
            <!--<img class="img" src="http://owpv96eru.bkt.clouddn.com{{topic?.coverimg}}" alt="">-->
          </div>
        </div>
      </div>
    </ion-row>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="正在努力加载..."> // 提示文本
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  </ion-content>


