page-home {
  .search{
    //margin-left: 10px;
    float: right;
    //margin-top: -37px;
    input{
      border: none;
      color: #8f8f8f;
    }

    //span{
    //  width: 34px;
    //  height: 34px;
    //  padding: -2px;
    //  //border: 1.5px solid  white;
    //  margin-left: -4px;
    //  background-color: white;
    //  color: black;
    //}
  }
  .mycity{

    margin-left: 15px;
    display: inline-block;
    p{
      margin-bottom:0;
      font-size: 16px;
      color: white;
      padding: 3px 7px;
      background-color: cornflowerblue;
      border-radius: 10px;
    }

  }
  ._container{
    text-align: center;
  }
  .content{
    padding-left: 15px;
    padding-right: 15px;

  h1{
    margin: 10px auto;
  }
  .img_1{
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    img {
      width: 100%;
    }
  }
    .img_2{
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100px !important;

      }
    }
  .c1,h2{
    width: 90%;
    margin: 0!important;
    padding: 0!important;
    text-align: left;
  }
    .p1{
      float: left;
    }
    .p2{
      margin-top: 20px;
    }

  .s1{
    margin-top: 10px;
    position: relative;
    float: left!important;
    width: 36px;
    height: 36px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    .lazy{
      vertical-align: top;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

  }
    .fr{
      float: right;
    }
    .fl{
      float: left;
    }
    .title{
      position: relative;
      margin-bottom: 20px;
    }
  }
}
