page-liebiao {
  #header {
    background: white;
    border-bottom: solid 0.5px #cccccc;
  }
  #header .title {
    font-size: 18px;
    font-weight: 200;
    padding-top: 0.5rem;
  }
  #header .back-btn {
    background: none;
    text-align: center;
  }
  .qimo8 {
    overflow: hidden;
    width: 815px;
  }
.gundong{
  font-size: 18px;
  padding: 5px!important;
  background: #FEDC2A;
}
  @media screen and (max-width: 320px){
    .scenic_info{
      font-size: 10px;
    }
  }
}
