page-search {
  .search input{
    border: none;
    color: white;
    background: #8f8f8f;
  }
  .search span{
    width: 34px;
    height: 34px;
    padding: -2px;
    margin-left: -4px;
    background-color: white;
    color: black;
  }
}
