page-particulars {
  #header{
    background:#F8F8F8;
    border-bottom: solid 0.5px #cccccc;
  }
  .hea_img{
    border-radius: 50%;
  }
  .title {
    font-size: 20px;
    font-weight: 400;
    padding-top: 0.5rem;
    color: #FF9D00;
    text-align: center;
  }
  #header .back-btn{
    background: none;
    text-align: center;
  }
.author{
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #FF9D00;
}
  .author button{
    border-radius: 5px;
    width: 50px;
    height: 30px;
    background-color: white;
    //border: solid 1px gainsboro;
    color: #FF9D00;
  }
  .classify{
    //width: 360px;
    //height: 80px;
    border: dashed 1px gainsboro;
    border-radius: 5px;
  }
  .con_img img{
    height: 200px;
    width: 100%;
  }
  .con_img h2{
    font-size: 21px;
  }
  .con_img p{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
  .hr{
    //height: 50px;
    border-bottom: dashed 3px #FF9D00;
    text-align: center;
    //line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    color: #FF9D00;
  }
  .fenxiang{
    background-color: #FEDC2A;
  }


  //.fixed-content,.scroll-content{
  //  margin: 0 !important;
  //}


}
