page-comment {
  #header{
    background: white;
    border-bottom: solid 0.5px #cccccc;
  }
  #header .title {
    font-size: 18px;
    font-weight: 200;
    padding-top: 0.5rem;
  }
  #header .back-btn{
    background: none;
    text-align: center;
  }
.level{
  border-radius: 5px;
  border: solid 1px #FF9D00;
  background-color: white;
  color: #FF9D00;
}
  .content{
    border-bottom: solid 1px gainsboro;
    padding-bottom: 20px;
  }
}
